body{
    margin:0;
    font-family: Inter;
  }


.btn{
    display: inline-flex;
    padding: 15.5px 24.47px 17.5px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
background: #1858A8;
color: #FFF;
font-size: 16px;
font-weight: 600;
line-height: 14px; 
text-decoration: none;
transition: all 200ms ease-in-out;
  }
  
  .btn:hover{
    background:rgba(255,255,255,0.25);
  }