body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#ffffff;
  }



  .news-item{
    display:flex;
    gap:20px;
    padding:15px 0;
    border-bottom:1px solid #e5e7eb;
  }
  
  .news-item:last-child{
    border-bottom:none;
  }

  .news-image{
    width: 350.05px;
    height: 196.9px;
    overflow:hidden;
    border-radius:6px;
  }
  
  .news-image img{
    width:100%;
    height:100%;
    object-fit:cover;
  }
  
  .news-content{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .news-date{
    color: #333;
    font-size: 14.4px;
    font-weight: 400;
    line-height: 24px; 
  }
  
  .news-title-link{
    display:block;
    color: #1858A8;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px; 
    text-decoration:none;
    margin-bottom:8px;
  }
  
  .news-title-link:hover{
    text-decoration:underline;
  }
  
