body{
    margin:0;
    font-family: Inter;
    background:#ffffff;
  }




.award{
    background:transparent;
    padding: 6px 8px;
  }

  .award-icon{
    width:34px;
    height:34px;
    border-radius:50%;
    background:#e0f2fe;
    border:1px solid #bae6fd;
    display:grid;
    place-items:center;
    margin: 0 auto 10px;
    font-size:14px;
    color:#1d4ed8;
  }

  .award h3{
    margin:0 0 8px;
    color: #333;
    font-size: 17.4px;
    font-weight: 700;
    line-height: 28.08px; 
  }

  .award p{
    color: #333;
    font-size: 14.4px;
    font-weight: 400;
    line-height: 24px; 
  }