body{
    margin:0;
    font-family: Inter;
    background:#ffffff;
  }




  
  .logo-item{
    text-align:center;
    max-width:180px;
  }
  
  .logo-item img{
    width: 154px;
    height: 51px;
    object-fit:contain;
    margin-bottom:10px;
  }
  
  .logo-item p{
    color: #333;
    font-size: 15px;
    font-weight: 700;
    line-height: 28.08px; 
  }