body{
    margin:0;
    font-family: Inter;
    background:#ffffff;
  }


.card{
    background:#fff;
    border:1px solid #e5e7eb;
    padding:20px;
    border-radius:6px;
    width:300px;
    display:flex;
    align-items:center;
    gap:15px;
  }


  .card p{
    margin:0;
    font-size:20px;
    font-weight:bold;
    color:#1e3a8a;
  }