body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#ffffff;
  }
 
 
 
 /* Cards Layout */
 .cards2{
    display:flex;
    gap:25px;
    justify-content:center;
    flex-wrap:wrap;
  }
  
  /* Card */
  .card2{
    width:320px;
    background:#ffffff;
    border:1px solid #e5e7eb;
    border-radius:6px;
    overflow:hidden;
    text-align:left;
    box-shadow:0 2px 8px rgba(0,0,0,0.05);
  }
  
  .card2 img{
    width:100%;
    height:160px;
    object-fit:cover;
  }
  
  .card-content{
    padding:15px;
  }
  
  .card2 h3{
    font-size:20px;
    color:#1e3a8a;
    margin:0 0 8px 0;
  }
  
  .card2 p{
    font-size:14px;
    color:#6b7280;
    line-height:1.6;
    margin-bottom:10px;
  }
  
  .card2 a{
    font-size:14px;
    color:#6b7280;
    /* text-decoration:none; */
  }
  
  .card2 a:hover{
    text-decoration:underline;
  }