body{
    margin:0;
    font-family: Inter;
  }
  
  .hero{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    background-image:url("../assets/WhatsApp\ Image\ 2026-02-14\ at\ 03.32.09.jpeg"); 
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    position:relative;
  
  }
  
  .hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(90deg,
      rgba(8,24,44,0.9) 0%,
      rgba(8,24,44,0.6) 50%,
      rgba(8,24,44,0.2) 100%
    );
  }
  
  .hero-content{
    position: relative;
    color: white;
    padding-left: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

  }
  
  .logo{
    color: #FFF;
    font-size: 39px;
    font-weight: 700;
    line-height: 48px; 
  }
  
  .hero-text{
    color: #FFF;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px; 

  }
  
  .btn{
    display: inline-flex;
    padding: 15.5px 24.47px 17.5px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
background: #1858A8;
color: #FFF;
font-size: 16px;
font-weight: 600;
line-height: 14px; 
text-decoration: none;
transition: all 200ms ease-in-out;
  }
  
  .btn:hover{
    background:rgba(255,255,255,0.25);
  }