body{
    margin:0;
    font-family: Inter;
  }
  
  nav{
    height: 5vh;
    background:#032D62;
    padding:15px 20px;
  }
  
  .nav-container{
    max-width:1200px;
    margin:auto;
    display:flex;
    align-items:center;
    gap:30px;
  }
  

  
  ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    gap:25px;
  }
  
