body{
    margin:0;
    font-family: Inter;
  }
  
  nav{
    height: 5vh;
    background:#032D62;
    padding:15px 20px;
  }
  
  .nav-container{
    max-width:1200px;
    margin:auto;
    display:flex;
    align-items:center;
    gap:30px;
  }
  
  .logo{
    color:#ffffff;
    font-size:28px;
    font-weight:bold;
    text-decoration:none;
  }
  
  ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    gap:25px;
  }
  
  ul li a{
    text-decoration:none;
    padding:8px 10px;
    transition:0.3s;
    color: #FFF;
font-family: Inter;
font-size: 14.9px;
font-weight: 500;
line-height: 14px; 
  }
  
  ul li a:hover{
    background:rgba(255,255,255,0.1);
    border-radius:4px;
  }