body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#ffffff;
  }
  
  .section{
    width:1100px;
    max-width:95%;
    margin:80px auto;
  }
  
  .mini-nav{
    background: #FFF;
    box-shadow: 1px 1px 12px 0 rgba(51, 51, 51, 0.10);
    padding: 23px 72px 28.5px 30px;
    align-items: center;
    display: flex;
    gap: 20px;
    font-size: 13px;
    margin-bottom: 80px;
  }
  
  .mini-nav a{
    text-decoration:none;
    color:#333;
  }
  
  .mini-nav a.active{
    font-weight:bold;
  }
  
  .title-wrap{
    text-align: center;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .cards{
    display:flex;
    gap:20px;
    justify-content:center;
  }
  


.learning-section{
    width:1100px;
    max-width:95%;
    margin:100px auto;
    text-align:center;
  }
  

  .learning-section h2{
    color:#f97316;
    font-size:37px;
    margin-bottom:8px;
  }
  
  .learning-section p.subtitle{
    font-size:23px;
    color:#6b7280;
    margin-bottom:40px;
  }
  



.news-section{
    width:1000px;
    max-width:95%;
    margin:60px auto;
    text-align:center;
  }
  

  .news-title{
    color:#f97316;
    font-size:37px;
    font-weight:bold;
    margin-bottom:30px;
  }
  


    .news-container{
        background:#ffffff;
        border:1px solid #e5e7eb;
        border-radius:6px;
        padding:20px;
        text-align:left;
      }
 
