body{
    margin:0;
    font-family: Inter;
    background:#ffffff;
  }


  /* Button */
  .view-more{
    margin-top:30px;
  }
  
  .view-more button{
    padding:13px 25px;
    border-radius: 6px;
    background: #1858A8;
    color:#ffffff;
    border:none;
    font-size:15px;
    font-weight: 600;
    cursor:pointer;
    transition: all 200ms ease-in-out;
  }
  
  .view-more button:hover{
    opacity:0.9;
  }